html {
    color: #000;
    background: #FFF
}

blockquote, body, code, dd, div, dl, dt, fieldset, form, h1, h2, h3, h4, h5, h6, input, legend, li, ol, p, pre, td, textarea, th, ul {
    margin: 0;
    padding: 0
}
table {
    border-collapse: collapse;
    border-spacing: 0
}

fieldset, img {
    border: 0
}

address, caption, cite, code, dfn, em, strong, th, var {
    font-style: normal;
    font-weight: 400
} 
 
ol, ul {
    list-style: none
}

caption, th {
    text-align: left
}

h1, h2, h3, h4, h5, h6 {
    font-size: 100%;
    font-weight: 400
}

q:after, q:before {
    content: ''
}

abbr, acronym {
    border: 0;
    font-variant: normal
}

sup {
    vertical-align: text-top
}

sub {
    vertical-align: text-bottom
}

input, select, textarea {
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit
}
input:focus{
	outline-color: rgb(77, 144, 254) !important; outline-offset: -2px !important; outline-style: auto !important; outline-width: 5px !important;
}
legend {
    color: #000
}

body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%
}

body {
	width: 100%;
	max-width: 100%;
	min-width: 500px;
	min-height: 100%;
	height: auto !important;
	height: 100%;
	position: relative;
	font-family: Open Sans, Tahoma;
	color: #656874;
	font-size: 14px;
	background: #f9f9f9;
}

a {
    color: #78a4bb
}
a:hover{
	text-decoration: none;
}
h1 {
    font-size: 30px
}

.header {
    height: 110px;
    width: 100%;
	padding: 20px 0px;
    background: #3a3c42;
    position: relative;
}

.logotype {
    color: #fff;
    font-size: 24px;
    font-weight: 700;
    text-decoration: none;
    float: left;
    display: block;
    width: 200px;
    height: 60px;
    margin-bottom: 10px
}
.topAuthForm {
    line-height: 25px;
    float: right;
    box-sizing: border-box;
    min-height: 150px !important;
    margin-top: -20px !important;
    padding: 20px 40px;
    border-right: 1px solid #28292A;
    border-left: 1px solid #28292A;
    background: #44464C none repeat scroll 0% 0%;
    box-shadow: 1px 0px 0px #4F4E4E inset, -1px 0px 0px #4F4E4E inset;
}
.topAuthForm.noborder{
border:none;
background:none;
box-shadow:none;
}
.login{width:600px;height:71px;float:right}
.login p{float:right;margin-top:35px;padding-left:20px;font-size:12px;text-decoration:underline;background:url(/local/templates/landing/images/login.png) left no-repeat;color:#fff;cursor:pointer}
.login span.error{float:right;color:#CB3343;font-size:14px}.loginForm{display:none;position:fixed;width:100%;height:100%;top:0;left:0;z-index:100;background:rgba(0,0,0,.5)}
.loginForm .loginWrapper{position:fixed;width:470px;z-index:101;top:100px;left:50%;margin-left:-235px;background:#FFF}
.loginForm .loginClose{display:block;width:30px;height:30px;position:absolute;margin-left:470px;background:url(/local/templates/landing/images/close.png) top left no-repeat;cursor:pointer}
.loginForm .loginContent{padding:20px}
.loginForm .loginHelper{padding:20px;background:#f5f5ed;font-size:14px}
.loginForm a{color:#78a4bb}
.loginForm input[type=checkbox]{display:inline;}
.loginForm input[type=checkbox]+ label {
    color: #000;
    font-size: 16px;
}
.loginForm noindex{
    font-size: 16px;
}
.btn {
    display: block;
    width: 235px;
    height: 60px;
    line-height: 60px;
    font-size: 14px;
    color: #FFF;
    font-weight: 700;
    text-align: center;
    cursor: pointer;
    text-decoration: none;
    border: medium none;
    outline: 0px none;
}
.loginForm input[type=text]{width:368px;height:35px;padding:0 10px 0 50px;margin-bottom:20px;border:1px solid #e8e8e8;outline:0;background:url(/local/templates/landing/images/loginBG.png) left center no-repeat}
.loginForm input[type=password]{width:368px;height:35px;padding:0 10px 0 50px;margin-bottom:20px;border:1px solid #e8e8e8;outline:0;background:url(/local/templates/landing/images/pwdBG.png) left center no-repeat}
.btnRed{background:#CB3343;-webkit-transition:all .3s ease-out;-moz-transition:all .3s ease-out;-o-transition:all .3s ease-out;transition:all .3s ease-out}
.btnRed:hover{background:#AD1D28}
.userOnWork{
margin-top:80px;
margin-left:0px !important;
}
.loginuserinfo:before {
    position: absolute;
    width: 25px;
    height: 26px;
    margin-top: 3px;
    margin-left: -35px;
    content: close-quote;
    background: url('/local/templates/askusers/img/icon_users.png') no-repeat;
}
.topMenu {
    height: 34px;
	padding-left:5px;
 -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    position: absolute;
top: 107px;
}


.topMenu ul {
    display: inline-block;
}

.topMenu ul li.activeTMItemm {
    /* IE6-9 */

    border-color: #94c18f #5d9856 #5d9856;
    background: #79b172;
    /* Old browsers */

    background: -moz-linear-gradient(left, #79b172 0%, #79b172 100%);
    /* FF3.6+ */

    background: -webkit-gradient(linear, left top, right top, color-stop(0%, #79b172), color-stop(100%, #6ca466));
    /* Chrome,Safari4+ */

    background: -webkit-linear-gradient(left, #79b172 0%, #6ca466 100%);
    /* Chrome10+,Safari5.1+ */

    background: -o-linear-gradient(left, #79b172 0%, #6ca466 100%);
    /* Opera 11.10+ */

    background: -ms-linear-gradient(left, #79b172 0%, #6ca466 100%);
    /* IE10+ */

    background: linear-gradient(to right, #79b172 0%, #6ca466 100%);
    box-shadow: 0 3px 0 #5d9856, inset 0 1px 2px #94c18f;
    /* W3C */

    filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='#79b172', endColorstr='#6ca466', GradientType=1);
}

.topMenu ul li.activeTMItemm:hover {
    /* IE6-9 */

    border-color: #94c18f #5d9856 #5d9856;
    background: #79b172;
    /* Old browsers */

    background: -moz-linear-gradient(left, #79b172 0%, #79b172 100%);
    /* FF3.6+ */

    background: -webkit-gradient(linear, left top, right top, color-stop(0%, #79b172), color-stop(100%, #6ca466));
    /* Chrome,Safari4+ */

    background: -webkit-linear-gradient(left, #79b172 0%, #6ca466 100%);
    /* Chrome10+,Safari5.1+ */

    background: -o-linear-gradient(left, #79b172 0%, #6ca466 100%);
    /* Opera 11.10+ */

    background: -ms-linear-gradient(left, #79b172 0%, #6ca466 100%);
    /* IE10+ */

    background: linear-gradient(to right, #79b172 0%, #6ca466 100%);
    box-shadow: 0 3px 0 #5d9856, inset 0 1px 2px #94c18f;
    /* W3C */

    filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='#79b172', endColorstr='#6ca466', GradientType=1);
}

.topMenu ul li:hover {
    background: #edf2ec;
    /* Old browsers */

    box-shadow: 0 3px 0 #d6d6d6;
}

.topMenu ul li:hover a {
    color: #333;
}

.topMenu ul li.activeTMItemm a,
.topMenu ul li.activeTMItemm:hover a {
    color: #fff;
}

.topMenu ul li {
    line-height: 40px;
    display: inline-block;
    float: left;
    height: 40px;
    padding: 0 10px;
    border-radius: 5px 5px 0 0;
}

.topMenu ul li a {
    display: block;
    width: 100%;
    height: 100%;
    text-decoration: none;
    color: #fff;
}


.content {
	background: #f9f9f9;
	padding-top: 30px;
    padding-bottom: 100px
}

.footer {
    height: 30px;
    line-height: 30px;
    width: 100%;
    position: absolute;
    bottom: 0;
    background: #3a3c42
}

.wrapper {
	width: 100%;
    max-width: 985px;
    padding: 0 0px;
    margin: 0 auto ;
-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.fl {
    float: left
}

.fr {
    float: right
}

.clear {
    clear: both
}

.megaspacer {
    clear: both;
    width: 100%;
    height: 10px
}

input[type=checkbox] {
    display: none
}

input[type=checkbox] + label {
    color: #f2f2f2;
    font-size: 14px
}

input[type=checkbox] + label span {
    display: inline-block;
    width: 16px;
    height: 16px;
    margin: 0 5px;
    vertical-align: middle;
    background: url(img/rcs.png) 0px -16px no-repeat;
    cursor: pointer
}

input[type=checkbox]:checked + label span {
    background: url(img/rcs.png) 0px -32px no-repeat
}

input[type=checkbox]:disabled + label span {
    background: url(img/rcs.png) 0px 0px no-repeat
}

input[type=radio] {
    display: none
}

input[type=radio] + label {
    color: #f2f2f2;
    cursor: pointer;
    font-size: 18px
}

input[type=radio] + label span {
    display: inline-block;
    width: 16px;
    height: 16px;
    margin: -1px 4px 0 0;
    vertical-align: middle;
    background: url(img/rcs.png) -16px -16px no-repeat;
    cursor: pointer
}

input[type=radio]:checked + label span {
    background: url(img/rcs.png) -16px -32px no-repeat
}

input[type=radio]:disabled + label span {
    background: url(img/rcs.png) -16px 0px no-repeat
}

.popUpUserInfo {
    width: 956px;
    border: 2px solid #c1dce5;
    background: #fff;
    position: fixed;
    z-index: 2;
    top: 100px;
    left: 50%;
    margin-left: -480px
}

.popUpUserInfo .userInfoLeftCol {
    float: left;
    width: 175px;
    padding: 20px;
    background: #f4f9fb
}

.popUpUserInfo .userInfoLeftCol p {
    font-size: 11px
}

.popUpUserInfo .userInfoLeftCol p span {
    font-weight: 700
}

.popUpUserInfo .userInfoRightCol {
    float: right;
    width: 700px;
    padding: 20px
}

.popUpUserInfo .userInfoWL {
    position: absolute;
    margin-top: 5px;
    margin-left: 148px
}

.popUpUserInfo .userInfoLogo {
    vertical-align: top
}

.popUpUserInfo .userInfoRating {
    background: rgba(0, 0, 0, .5);
    color: #fff;
    height: 25px;
    line-height: 25px;
    padding: 0 5px;
    position: relative;
    margin-top: -25px;
    font-size: 11px
}

.popUpUserInfo .userInfoRating span {
    float: right;
    font-size: 20px
}

.popUpUserInfo .userInfoRating span.ratingPlus {
    display: inline-block;
    width: 25px;
    height: 25px;
    background: url("img/rp.png") no-repeat center;
    cursor: pointer;
}

.popUpUserInfo .userInfoRating span.ratingMinus {
    display: inline-block;
    width: 25px;
    height: 25px;
    background: url("img/rm.png") no-repeat center;
    cursor: pointer;
}

.popUpUserInfo .userInfoName {
    font-size: 18px;
    padding-bottom: 15px
}

.popUpUserInfo .userInfoName span.userGenderFemale, .popUpUserInfo .userInfoName span.userGenderMale {
    color: #fff;
    font-weight: 700;
    display: inline-block;
    width: 25px;
    height: 25px;
    vertical-align: middle;
    text-align: center;
    margin-left: 10px
}

.popUpUserInfo .userInfoName span.userGenderMale {
    background: #78a4bb
}

.popUpUserInfo .userInfoName span.userGenderFemale {
    background: #CB3343
}

.popUpUserInfo .userInfoName span.userIsOnline {
    float: right;
    color: #72ad6b
}

.popUpUserInfo .userInfoProfession {
    width: 340px;
    padding-right: 10px;
    float: left
}

.popUpUserInfo .userInfoHobby {
    width: 340px;
    padding-left: 10px;
    float: left
}

.popUpUserInfo .userInfoKnow {
    width: 340px;
    padding-right: 10px;
    float: left
}

.popUpUserInfo .userInfoNotKnow {
    width: 340px;
    padding-left: 10px;
    float: left
}

.popUpUserInfo .userInfoAbout p, .popUpUserInfo .userInfoHobby p, .popUpUserInfo .userInfoKnow p, .popUpUserInfo .userInfoNotKnow p, .popUpUserInfo .userInfoProfession p {
    font-size: 12px;
    padding-bottom: 10px
}

.popUpUserInfo .userInfoAbout span, .popUpUserInfo .userInfoHobby span, .popUpUserInfo .userInfoKnow span, .popUpUserInfo .userInfoNotKnow span, .popUpUserInfo .userInfoProfession span {
    font-size: 14px;
    font-weight: 700;
    padding-bottom: 10px
}

.popUpUserInfo .userInfoProfession p span {
    font-size: 12px;
    font-weight: 400;
    color: #679f62
}

.popUpUserInfoClose {
    background: url(img/closeinfo.png) top left no-repeat;
    width: 12px;
    height: 12px;
    cursor: pointer;
    position: fixed;
    left: 50%;
    margin-left: 460px;
    margin-top: 5px
}

.assessorAutoReplaced {
    display: inline-block;
    background: url(/local/templates/askusers/img/tasksDetailInfoInRechange.png) top left no-repeat;
    width: 16px;
    height: 16px;
    vertical-align: middle
}

.copyLeft {
    float: left
}

.bottomMenu {
    float: right
}

.bottomMenu li {
    float: left;
    padding: 0 10px
}

.social {
    margin: 20px 0 15px 200px;
    float: left
}

.financeSubmenuTop li {
    display: inline-block;
    float: left;
    padding-right: 10px;
    outline: 0
}

.financeSubmenuTop li a {
    text-decoration: none;
    outline: 0
}

.financeSubmenuTop li.active a {
    text-decoration: underline
}
div.topAuthForm{
	margin-top: 0px;
	min-height: 0px;
}
div.Blog{
	position: relative;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
div.BlogContent{
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding-left: 15px;
	padding-right: 15px;
	width: 100%;
}
div.BlogContent div.leftpart{
	width: 650px;
	float:left;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
div.Blog div.rightpart{
	float:right;
	width:280px;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
div.BoxBlog {
	margin-bottom: 25px;
	color:#545454;
	display:table;
	width: 100%;
	position: relative;
	border-bottom: 1px dashed #eaeaea;
}
div.BoxBlog div.leftBlock{
	float:left;

}
div.BoxBlog div.leftBlock div.previmg{
	margin-bottom: 10px;
	width: 150px;
}
div.BoxBlog div.leftBlock div.previmg img{
	display:block;
	margin-left: auto;
	margin-right: auto;
	-webkit-transition: all .2s ease;
	-moz-transition: all .2s ease;
	-o-transition: all .2s ease;
	transition: all .2s ease;
}

div.BoxBlog div.leftBlock div.previmg a:hover img {
	opacity: 0.7;
}
div.BoxBlog div.InfoBlock{
	padding-left: 180px;
	line-height: 24px;
}
div.BoxBlog div.InfoBlock span.h2{
	display:block;
	font-size:17px;
	margin-bottom: 20px;
	font-weight: bold;
	color:#4c91b1;
}
div.clear{
	clear: both;
	display: block;
	height: 0;
	line-height: 0;
	overflow: hidden;
	font-size: 0;
	margin: 0px;
	padding: 0px;
}
div.bottomh2Block {
	margin-bottom: 15px;
}
div.bottomh2Block div{
	display: inline-block;
}
div.moreread {
	margin-left:auto;
	background:#78a4bb;
	width:190px;
	text-align: center;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	position: absolute;
	bottom: 10px;
	height: 30px;
	right: 0;
}
div.moreread a{
	display: block;
	width: 100%;
	height:100%;
	padding: 4px 10px;
	font-size: 14px;
	color:#f9f9f9;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	text-decoration: none;
}
div.moreread:hover {
background: #537384;
}
div.BoxBlog div.reiting, div.BoxBlog div.comment, div.BoxBlog div.watch{
	margin-bottom: 10px;
}
div.BoxBlog div.comment:before {
	content:"";
	display:block;
	float:left;
	margin-right: 13px;
	margin-top: 3px;
	background:url(./img/coment.png) no-repeat;
	background-size: 19px 17px;
	width: 19px;
	height:17px;
}
div.BoxBlog div.watch:before {
	content:"";
	display:block;
	float:left;
	margin-right: 10px;
	margin-top: 3px;
	background:url(./img/brows.gif) no-repeat;
	background-size: 23px 15px;
	width: 23px;
	height:15px;
}
div.BoxBlog div.watch span {
	margin-right: 8px;
}
div.BoxBlog div.comment span {
	margin-right: 8px;
}
div.BoxBlog div.bottomh2Block {
	font-size: 12px;
}
div.BoxBlog div.bottomh2Block div.autor, div.BoxBlog div.bottomh2Block div.date{
	margin-right:10px;
}
div.BoxBlog div.bottomh2Block div.autor:before {
	content:"";
	display:block;
	float:left;
	margin-right: 6px;
	margin-top: 4px;
	background:url(./img/autor.gif) no-repeat;
	background-size: 13px 14px;
	width: 13px;
	height:14px;
}
div.BoxBlog div.bottomh2Block div.date:before {
	content:"";
	display:block;
	float:left;
	margin-right: 6px;
	margin-top: 4px;
	background:url(./img/clock.gif) no-repeat;
	background-size: 13px 13px;
	width: 13px;
	height:13px;
}
div.BoxBlog div.bottomh2Block div.rubric:before {
	content:"";
	display:block;
	float:left;
	margin-right: 6px;
	margin-top: 4px;
	background:url(./img/rubric.gif) no-repeat;
	background-size: 10px 14px;
	width: 10px;
	height:14px;
}
div.listRubric p.title{
	font-size:14px;
	font-weight: bold;
	color:#000;
	margin-bottom:10px;
}
div.listRubric .bx_sitemap{
	margin-bottom:0px;
}
div.listRubric .bx_sitemap ul li{
	padding-left: 15px;
	margin-bottom: 10px;
}
div.listRubric .bx_sitemap ul li:before{
	content:"";
	display:block;
	width:15px;
	height:15px;
	float:left;
	margin-left: -15px;
	margin-right: 10px;
	background:#eaecee;
}
div.listRubric .bx_sitemap ul li a{
	color:#86afd1;
}
div.listRubric .bx_sitemap ul li a:hover{
	text-decoration:none;
}
div.Blog div.rightpart div.listRubric,div.Blog div.rightpart div.vk,div.Blog div.rightpart div.fk,div.Blog div.rightpart div.rss,div.Blog div.rightpart div.rss2,div.Blog div.rightpart div.popular, div.Blog div.rightpart  div.search{
	margin-bottom:20px;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	width: 280px;
}
div.vk p.title{
	font-size:14px;
	font-weight: bold;
	color:#000;
	margin-bottom:10px;
}
div.vk div.blocksoc a{
	position: relative;
	color:#86afd1;
	padding: 18px 0px;
	padding-left: 40px;
}
div.vk div.blocksoc a:before{
	position: absolute;
	content: "";
	display: block;
	width: 30px;
	height: 30px;
	left:0px;
	top:15px;
}
div.vk div.blocksoc a.vk:before{
	background: url(./img/vk.png) no-repeat;
}
div.vk div.blocksoc a.fb:before{
	background: url(./img/fb.png) no-repeat;
}
div.vk div.blocksoc a.yt:before{
	background: url(./img/yt.png) no-repeat;
}
div.vk div.blocksoc a.tw:before{
	background: url(./img/Tw.png) no-repeat;
}
div.vk div.blocksoc{
	margin-bottom: 15px;
	padding: 6px 0px;
}


div.DetailPage p{
	color: #000;
}
div.Blog div.rightpart div.rss{
	padding: 15px 15px;
	background:#6fa668 url(./img/rssimg.png) no-repeat;
	background-position: 15px 15px;
	padding-right: 6px;
}
div.Blog div.rightpart div.rss2{
	padding: 15px 15px;
	background:#6fa668 url(./img/rssimg2.png) no-repeat;
	background-position: 15px 15px;
	padding-right: 10px;
}
div.Blog div.rightpart div.rss p{
	color:#fff;
	font-size:13px;
	margin-bottom:20px;
	padding-left: 70px;
	min-height: 80px;
}
div.Blog div.rightpart div.rss2 p{
	color:#fff;
	font-size:13px;
	margin-bottom:10px;
	padding-left: 70px;
	min-height: 80px;
}
div.Blog div.rightpart div.rss a.tryReg{
	display:block;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	color:#fff;
	text-align: center;
	text-decoration:none;
	font-size:14px;
	height:50px;
	width:250px;
	padding:15px 10px;
	background:#cb3343;
}
div.Blog div.rightpart div.rss a:hover{
	    background: #8C0715;
}
div.rss2 input[type=text]{
	display:block;
	width:250px;
	height:30px;
	padding:5px 15px;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	margin-bottom:10px;
}
div.rss2 input[type=submit]{
	cursor:pointer;
	border:none;
	display:block;
	color:#fff;
	text-align: center;
	text-decoration:none;
	font-size:14px;
	height:50px;
	width:250px;
	padding:15px 10px;
	background:#cb3343;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
div.rss2 input[type=submit]:hover{
	    background: #8C0715;
}
div.hotBlock {
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding: 20px 20px;
	background: #e2ece1;
	margin-bottom: 10px;
	line-height: 24px;
}
div.hotline {
	border-bottom: 1px dashed #eaeaea;
	margin-bottom:20px;
}
div.leftpart h1{
	font-size: 28px;
	margin-bottom: 20px;
	color: #383a40;
}
div.blog h1{
	font-size: 28px;
	margin-bottom: 20px;
	color: #383a40;
}
div.pager{
	float:left;
	display: table;
	margin-left: 245px;
	margin-bottom: 20px;
}
div.pager p, div.pager a{
	width:25px;
	height:25px;
	text-decoration:none;
	text-align:center;
	font-size:14px;
	padding:3px 0px;
	display:inline-block;
	color:#2b2b2b;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
div.pager a:hover{
	background:#ebebeb;
}
div.pager p.act{
	background:#78a4bb;
	color:#fff;
}
div.Blog div.rightpart div.popular .tabs {
	position: relative;
	margin: 0 auto;
}
div.Blog div.rightpart div.popular .tabs label {
	display:inline-block;
	font-size:14px;
	color:#9f9f9f;
	font-weight: bold;
	margin-right:10px;
	cursor: pointer;
}

div.Blog div.rightpart div.popular .tabs input {
	position: absolute;
	left: -9999px;
}

div.Blog div.rightpart div.popular #tab_1:checked  ~ #tab_l1,
div.Blog div.rightpart div.popular #tab_2:checked  ~ #tab_l2,
div.Blog div.rightpart div.popular #tab_3:checked  ~ #tab_l3 {
	color:#2a2a2a;
	z-index: 3;
}

div.Blog div.rightpart div.popular .tabs_cont {
	position: relative;
	z-index: 2;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding: 10px 0px;
}
div.Blog div.rightpart div.popular .tabs_cont ul li{
	padding-left: 25px;
	margin-bottom: 10px;
}
div.Blog div.rightpart div.popular .tabs_cont ul li:before{
	content:"";
	display:block;
	width:15px;
	height:15px;
	float:left;
	margin-left: -25px;
	margin-top: 2px;
	background:#eaecee;
}
div.Blog div.rightpart div.popular .tabs_cont ul li a{
	color:#86afd1;
}
div.Blog div.rightpart div.popular .tabs_cont ul li a:hover{
	text-decoration:none;
}
div.Blog div.rightpart div.popular .tabs_cont > div {
	position: absolute;
	left: -9999px;
	top: 0;
	opacity: 0;
	-moz-transition: opacity .5s ease-in-out;
	-webkit-transition: opacity .5s ease-in-out;
	transition: opacity .5s ease-in-out;
}
div.Blog div.rightpart div.popular #tab_1:checked ~ .tabs_cont #tab_c1,
div.Blog div.rightpart div.popular #tab_2:checked ~ .tabs_cont #tab_c2,
div.Blog div.rightpart div.popular #tab_3:checked ~ .tabs_cont #tab_c3 {
	position: static;
	left: 0;
	opacity: 1;
}
div.DetailPage{
	line-height: 24px;
	color: #000;
}
div.DetailPage div.ContentPart{
	margin-bottom: 10px;
}
div.DetailPage h1{
	color: #383a40;
	font-size: 28px;
	font-weight: bold;
	line-height: 35px;
	margin-bottom: 20px;
}
div.DetailPage h2{
	color: #494949;
	display: block;
	font-size: 20px;
	font-weight: bold;
	margin-bottom: 5px;
	margin-top: 25px;

}
div.DetailPage h3{
	color: #494949;
	display: block;
	font-size: 16px;
	font-weight: bold;
	margin-bottom: 5px;
	margin-top: 25px;
}
div.DetailPage img{
	margin-top: 20px;
	margin-bottom: 20px;
}
div.DetailPage img[align="middle"]{
    margin-right: auto;
    margin-left: auto;
    display: block;
}
div.DetailPage div.quotes img{
margin-top: 6px;
}
div.DetailPage div.imgBlog img{
	margin-bottom: 20px;
	display: block;
	width: 100%;
}
div.DetailPage div.bottomh2Block {
	font-size: 12px;
}
div.DetailPage div.bottomh2Block div.autor, div.DetailPage div.bottomh2Block div.date{
	margin-right:10px;
}
div.DetailPage div.bottomh2Block div.autor:before {
	content:"";
	display:block;
	float:left;
	margin-right: 6px;
	margin-top: 2px;
	background:url(./img/autor.gif) no-repeat;
	background-size: 13px 14px;
	width: 13px;
	height:14px;
}
div.DetailPage div.bottomh2Block div.date:before {
	content:"";
	display:block;
	float:left;
	margin-right: 6px;
	margin-top: 4px;
	background:url(./img/clock.gif) no-repeat;
	background-size: 13px 13px;
	width: 13px;
	height:13px;
}
div.DetailPage div.bottomh2Block div.rubric:before {
	content:"";
	display:block;
	float:left;
	margin-right: 6px;
	margin-top: 4px;
	background:url(./img/rubric.gif) no-repeat;
	background-size: 10px 14px;
	width: 10px;
	height:14px;
}
div.DetailPage div.ContentPart ul li{
	position: relative;
	margin-left: 15px;
}
div.DetailPage div.ContentPart ul li:before {
	position: absolute;
	content: "";
	display: block;
	top:10px;
	left:-15px;
	width: 5px;
	height: 5px;
	background: #6fa668;
}
div.DetailPage div.ContentPart ol{
	counter-reset: list1;
}
div.DetailPage div.ContentPart ol li{
	position: relative;
	padding-left: 30px;
}
div.DetailPage div.ContentPart ol li:before {
	position: absolute;
	content: "";
	display: block;
	top: 0px;
	left: 0px;
	color: #6fa668;
	font-size: 16px;
	font-weight: bold;
	line-height: normal;
	counter-increment: list1; /* Увеличиваем значение счетчика */
	content: counter(list1) ". ";
}
div.DetailPage div.ContentPart ol li ul li {
	    padding-left: 0px;
}
div.DetailPage div.ContentPart ol li ul li:before{
	    position: absolute;
    content: "";
    display: block;
    top: 10px;
    left: -15px;
    width: 5px;
    height: 5px;
    background: #6fa668;
}
div.DetailPage div.ContentPart ol.costum li.last:last-child:before {
	content:"3. ";
}
div.DetailPage div.ContentPart ol.costum li:last-child ul li:before {
	position: absolute;
    content: "";
    display: block;
    top: 10px;
    left: -15px;
    width: 5px;
    height: 5px;
    background: #6fa668;
}
div.clear{
	clear: both;
}
div.blogFooter {
	line-height: 30px;
	width: 100%;
	position: absolute;
	background: #3a3c42;
}
div.blogFooter .wrapper {
	width: 100%;
	margin: 0 auto;
	padding: 40px 0;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
div.blogFooter div.div470 {
	width: 470px;
	float: left;
}
div.blogFooter div.div470  .bMenu {
	width: 45%;
	margin-right: 5%;
	margin-bottom: 50px;
	border-collapse: collapse;
	border: 0px;
}
div.blogFooter div.div470 .bMenu tr td {
	padding: 5px 10px;
	margin-right: 10px;
}
div.blogFooter div.div470 .bMenu tr  {
	border-top: 1px solid rgba(255, 255, 255, 0.2);
}
div.blogFooter div.div470 .bMenu tr:last-child{
	border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}
div.blogFooter div.div470 .bMenu tr td a {
	color: #FFF;
	font-size: 14px;
	text-decoration: none;
	width: 100%;
	height: 100%;
	display: block;
	line-height: 25px;
	text-align: center;
}
div.blogFooter div.div470 .bMenu tr td.active, div.blogFooter div.div470 .bMenu tr td:hover {
	background: #72ad6b;
}
.topMenu ul {
	display: inline-block;
}
.topMenu ul li {
	float: left;
	padding: 0 10px;
	height: 40px;
	line-height: 40px;
	display: inline-block;
}
.topMenu ul li.activeTMItem {
	background: #fff;
}
.topMenu ul li a {
	color: #fff;
	text-decoration: none;
}
div.search div.search-form{
	position: relative;
}
div.search div.search-form input[type="text"]{
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	width: 280px;
	height: 30px;
	border: none;
	padding: 5px 12px;
	padding-right: 30px;
}
div.search div.search-form input[type=submit]{
	background: url("img/searchB.gif")no-repeat;
	border: none;
	width: 24px;
	height: 20px;
	position: absolute;
	right: 4px;
	top: 4px;
}

div.Breadcrumbs{
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding: 5px 0px;
}
div.Breadcrumbs ul {
	margin-right: 12px;
	padding: 0;
}
div.Breadcrumbs ul li:first-child a {
	padding-left: 0;
}
div.Breadcrumbs ul li {
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-ms-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
}
div.Breadcrumbs  ul li {
	display: inline-block;
	line-height: 20px;
	color: #fff;
	text-decoration: none;
	font-size: 14px;
	margin-right: 4px;
}
div.Breadcrumbs ul li a {
	display: block;
	padding-right:13px;
	background: url(img/breadcrumbs_arrow.gif) no-repeat center right;
	color: #fff;
	text-decoration: underline;
	font-size: 14px;
}
div.Breadcrumbs ul li a:hover{
	text-decoration: none;
}
div.SocFix{
	position: fixed;
	margin-left: -46px;
	overflow: hidden;
}
div.SocFix .uptl_container-fixed-right, div.SocFix .uptl_container-fixed-left {
	margin-top: 0px;
	top: 0px;
}
div.SocFix .uptl_container-fixed-left{
	position: relative;
	left:inherit;
	height: 325px;
	padding-top: 26px;
	width: 40px;
	background-position: 20px 0px;
}
div.SocFix .uptl_container-fixed-left .uptl_toolbar_share ul {
	background-color: rgba(234, 236, 239, 1) !important;
	border-radius:0px !important;
}
div.SocFix div.Shadow {
	position: absolute;
	z-index: 100600;
	top: 0px;
	right: -6px;
	height: 348px;
	opacity: 0.8;
	width: 28px;
	background: url("img/shadow.png")no-repeat;
}
div.DetailPage div.quotes{
	position: relative;
	display: block;
	color: #545454;
	font-size: 14px;
	font-style: italic;
	padding: 24px 28px;
	margin-bottom: 20px;
	width: 100%;
	background: url("img/quotesBG.png")repeat;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	box-shadow: 4px 4px 5px #ccc;
}
div.DetailPage div.quotes:before{
	position: absolute;
	content: "";
	background: url("img/quotesbef.png")no-repeat;
	display: block;
	width: 13px;
	height: 9px;
	top: 14px;
	left: 11px;

}
div.DetailPage div.quotes:after{
	position: absolute;
	content: "";
	background: url("img/quotesaft.png")no-repeat;
	display: block;
	width: 13px;
	height: 9px;
	bottom: 14px;
	right: 11px;
}
div.DetailPage div.quotesw{
	position: relative;
	display: block;
	color: #545454;
	font-size: 14px;
	font-style: italic;
	margin-bottom: 20px;
	padding: 24px 28px;
	background: url("img/quotesBG.png")repeat;
	box-shadow: 4px 4px 5px #ccc;
}

div.DetailPage div.quote-owl{
	position: relative;
	display: block;
	color: #545454;
	font-size: 14px;
	border: 8px solid #3a3c42;
    border-radius: 20px;
    border-top-left-radius: 0;
    margin: 40px 0 20px 100px;
	padding: 24px 28px;

    
    &:before {
        content: url(../img/icon-owl.png);
        position: absolute;
        left: -90px;
    top: -35px;
    }

//	background: url("img/quotesBG.png")repeat;
//	box-shadow: 4px 4px 5px #ccc;
}


div.reating {
	border-bottom: 1px solid #ececec;
	border-top: 1px solid #ececec;
	padding: 20px 20px;
	margin-bottom: 20px;
}
div.reating p strong {
	font-size: 14px;
	display: block;
	font-weight: bold;
	color: #545454;
	margin-bottom: 5px;
}
div.nameRes{
	position: relative;
	top: -5px;
	margin-right: 8px;
}
div.nameRes, div.resultBlog{
	display: inline-block;
}
div.FormBlock{
	overflow: auto;
	padding: 0px 35px;
}
div.FormBlock div.TexareaBlock, div.FormBlock div.TexareaBlock textarea, div.FormBlock div.leftpart div.FormBlock input, div.FormBlock div.rightpart {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
div.FormBlock div.TexareaBlock label, div.FormBlock div.InputBlock label{
	display: block;
	color: #383a40;
	font-size: 14px;
	margin-bottom: 5px;
	float:none;
	width: 100%;
	line-height: normal;
}
div.FormBlock div.TexareaBlock label span, div.FormBlock div.InputBlock label span{
	color: #6fa668;
	font-size: 20px;
}
div.FormBlock div.TexareaBlock textarea{
	padding: 5px 10px;
	display: block;
	resize: none;
	width: 100%;
	height: 75px;
	border: none;
}
div.FormBlock div.InputBlock input{
	height: 38px;
	width: 100%;
	padding: 10px 10px;
	border: none;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
div.FormBlock div.InputBlock input.error, div.FormBlock textarea.error{
	border: 1px #f00 solid !important;
}
div.FormBlock input[type=submit]{
	width: 100%;
	height: 50px;
	cursor: pointer;
	border: none;
	background: #6fa668;
	color: #fff;
	font-size: 14px;
	text-transform: lowercase;
	margin-bottom: 17px;
}
div.FormBlock input[type=submit]:hover{
	    background: #52794D;}
div.FormBlock div.leftpart{
	float:left;
	padding-right: 0px;
	padding-left: 0px;
}
div.FormBlock div.rightpart {
	float:right;
}
div.FormBlock div.leftpart, div.FormBlock div.rightpart{
	width: 46%
}
div.FormBlock div.TexareaBlock{
	margin-bottom: 10px;
}
div.FormBlock div.InputBlock{
	margin-bottom: 17px;
	width: 100%;
}
div.FormBlock div.InputBlock div.fileform {
	cursor: pointer;
	overflow: hidden;
	position: relative;
	margin-top: 41px;
}

div.FormBlock div.InputBlock div.fileform div.selectbutton {
	cursor:pointer;
	position: relative;
	border: 2px solid #6fa668;;
	color: #6fa668;
	font-size: 17px;
	height: 38px;
	overflow: hidden;
	padding: 4px 6px;
	text-align: center;
	margin-bottom: 17px;
	font-weight: bold;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.topAuthForm input.topFormUserSubmit:hover{
	background: #466F41;
}
div.FormBlock div.InputBlock div.fileform div.selectbutton span{
	position: absolute;
	top: 4px;
	left: 11px;
	font-size: 26px;
}
div.FormBlock div.InputBlock div.fileform #upload{
	position:absolute;
	top:0;
	left:0;
	width:100%;
	-moz-opacity: 0;
	filter: alpha(opacity=0);
	opacity: 0;
	height: 38px;
	z-index:20;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
div.FormBlock div.InputBlock div.fileform .fileformlabel {
	position: relative;
	color: #2e2e2e;
	font-size: 14px;
	font-weight: bold;
	display: table;
}
div.FormBlock div.InputBlock div.fileform .fileformlabel:after{
	position: absolute;
	content: "×";
	display: block;
	width: 12px;
	height: 10px;
	color: #000;
	line-height: 0px;
	font-size: 20px;
	font-weight: bold;
	top: 10px;
	right: -17px;
}
div.FormBlock div.Important{
	color: #737373;
	font-size: 12px;
}
div.FormBlock div.Important span, div.FormBlock div.Important p{
	display: inline-block;
}
div.FormBlock div.Important p{
	position: relative;
	top: -5px;
}

div.FormBlock div.Important span{
	color: #6fa668;
	font-size: 20px;
	margin-right: 4px;
}
div.subcrib{
	margin-top:20px;
	background: #78a4bb url(./img/rssimg2.png) no-repeat;
	background-position: 20px 20px;
	padding: 15px 20px;
	padding-left: 100px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	height: 105px;
}
div.subcrib p{
	font-size: 14px;
	font-weight: bold;
	color: #ffffff;
	margin-bottom: 15px;
}
div.subcrib input[type=text]{
	display: inline-block;
	width: 100%;
	max-width:300px;
	min-width:150px;
	height:35px;
	padding:5px 15px;
	margin-right: 10px;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

div.subcrib input[type=submit]{
	cursor:pointer;
	border:none;
	display:inline-block;
	color:#fff;
	text-align: center;
	text-decoration:none;
	font-size:14px;
	height:35px;
	width:200px;
	padding: 8px 10px;
	background:#cb3343;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
div.subcrib input[type=submit].hidden{
    opacity: 0;
}
div.subcrib input[type=submit]:hover{
	    background: #8C0715;
}
div.DetailPage table{
	width: 100%;
	border-collapse: collapse;
	border: 0px;
}
div.DetailPage table tr td{
	padding: 5px 5px;
	border: 1px solid rgba(111, 166, 104, 0.3) !important;
}
div.DetailPage table tr:nth-child(odd){
	background: rgba(239, 243, 237, 0.49);
}
div.DetailPage table tr:nth-child(even){
	background: rgba(111, 166, 104, 0.15);
}
div.successSended div.container {
	background: #fff url(./img/32131.png) no-repeat;
	padding-left: 135px;
	background-position: 26px 19px;
}
div.DetailPage table.img tr{
	background: #fff;
}
div.DetailPage table.img tr td{
	padding: 5px 15px;
	width: 50%;
}
.ui-widget-overlay{
	z-index: 102;
}
.successSended{
	z-index: 103;
}
div.Breadcrumbs .wrapper{
	padding: 0px 15px;
}
p.frind{
	color: #bababa;
	font-size: 14px;
	padding-top: 10px;
}
div.searchpage span.h2{
	display: block;
	font-size: 24px;
	color: #000;
	margin-bottom: 20px;
}
div.searchpage input[type="text"]{
	margin-bottom: 20px;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	height: 30px;
	border: none;
	padding: 5px 12px;
}
div.searchpage input[type="submit"]{
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	background: #6fa668;
	display: inline-block;
	width: 100px;
	height: 30px;
	color:#fff;
	border: none;
	cursor: pointer;
}
div.searchpage input[type="submit"]:hover{
	    background: #547B4F;
}
div.blockVoise{
	padding: 20px 20px;
	background: #f0f0f0;
	margin-bottom: 20px;
	box-shadow: 4px 4px 5px #ccc;
}
div.blockVoise div.leftpart {
	width: 200px;
}
div.blockVoise div.leftpart div.img{
	background: url(/local/templates/askusers/img/man.png) no-repeat;
	background-position: 50% 50%;
	text-align: center;
	width: 200px;
	min-height: 175px;
}
div.blockVoise div.leftpart div.img img {
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 0px;
	margin-bottom: 0px;
	width: 200px;
}
div.blockVoise div.rightpart{
	float:none;
	width: auto;
	padding-left: 217px;
}
div.blockVoise div.rightpart div.text{
	font-size: 14px;
	font-style: italic;
	color: #3d3d3d;
	padding: 20px 0px;
}
div.blockVoise div.rightpart span.autor{
	font-size: 18px;
	font-weight: bold;
	color: #343434;
}
div.blockVoise div.rightpart p.web{
	color: #343434;
	font-size: 14px;
}
div.teamVoite{
	margin-bottom: 20px;
}
a.Bottom{
	position: relative;
	text-decoration: none;
	text-align: left;
	padding: 35px 35px;
	padding-left: 116px;
	border: none;
	display: block;
	-webkit-border-radius:4px;
	-moz-border-radius:4px;
	border-radius: 4px;
	font-weight:bold;
	width: 315px;
	height: 100px;
	font-size: 24px;
	background-color:#efefef;
	background-image: -moz-linear-gradient(top, #efefef 0%, #e2e2e2 100%);
	background-image: -webkit-linear-gradient(top, #efefef 0%, #e2e2e2 100%);
	background-image: -o-linear-gradient(top, #efefef 0%, #e2e2e2 100%);
	background-image: -ms-linear-gradient(top, #efefef 0% ,#e2e2e2 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e2e2e2', endColorstr='#e2e2e2',GradientType=0 );
	background-image: linear-gradient(top, #efefef 0% ,#e2e2e2 100%);
	-webkit-box-shadow:0px 2px 1px #c0c0c0;
	-moz-box-shadow: 0px 2px 1px #c0c0c0;
	box-shadow:0px 2px 1px #c0c0c0;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	margin-bottom: 20px;
}
a.Bottom.Ok{
	color:#79b172;
}
a.Bottom.Ok:before, a.Bottom.bad:before{
	content: "";
	position: absolute;
	display: block;
	width: 60px;
	height: 60px;
	top: 20px;
	left: 30px;
}
a.Bottom.Ok:before{
	background: url(./img/okimgb.png) no-repeat;
}
a.Bottom.bad:before{
	background: url(./img/badimgb.png) no-repeat;
}
a.Bottom.bad{
	color:#c1233d;
}
a.Bottom.Ok:hover{
	color: #fff;
	background-color:#80b579;
	background-image: -moz-linear-gradient(top, #80b579 0%, #73a86c 100%);
	background-image: -webkit-linear-gradient(top, #80b579 0%, #73a86c 100%);
	background-image: -o-linear-gradient(top, #80b579 0%, #73a86c 100%);
	background-image: -ms-linear-gradient(top, #80b579 0% ,#73a86c 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#73a86c', endColorstr='#73a86c',GradientType=0 );
	background-image: linear-gradient(top, #80b579 0% ,#73a86c 100%);
	-webkit-box-shadow:0px 2px 1px #5e9159;
	-moz-box-shadow: 0px 2px 1px #5e9159;
	box-shadow:0px 2px 1px #5e9159;
}
a.Bottom.Ok:hover:before{
	background-position: 0px -61px;
}
a.Bottom.bad:hover {
	color: #FFF;
	background-color: #c42e47;
	background-image: -moz-linear-gradient(top, #c42e47 0%, #b7213a 100%);
	background-image: -webkit-linear-gradient(top, #c42e47 0%, #b7213a 100%);
	background-image: -o-linear-gradient(top, #c42e47 0%, #b7213a 100%);
	background-image: -ms-linear-gradient(top, #c42e47 0%, #b7213a 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#b7213a', endColorstr='#b7213a', GradientType=0);
	background-image: linear-gradient(top, #c42e47 0%, #b7213a 100%);
	-webkit-box-shadow: 0px 2px 1px #93162b;
	-moz-box-shadow: 0px 2px 1px #93162b;
	box-shadow: 0px 2px 1px #93162b;
}
a.Bottom.bad:hover:before{
	background-position: 0px -61px;
}
div.teamVoite a.Bottom.bad{
	float:right;
}
div.teamVoite a.Bottom.Ok{
	float:left;
}
div.resultVoite{
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	background: #fbfcf2;
	padding: 20px 20px;
	box-shadow: 4px 4px 5px #ccc;
}
div.resultVoite div.someInfo{
	text-align: center;
	font-size: 14px;
	color: #3a3c42;
}
div.resultVoite div.someInfo span.h2{
	color: #79b172;
	font-size: 24px;
	font-weight: bold;
}
div.resultNumber div.Result{
	position: relative;
	text-align: left;
	padding: 35px 0px;
	padding-left: 85px;
	font-size: 18px;
	color: #3a3c42;
	font-weight: bold;
}
div.Result.Ok:before, div.Result.Bad:before{
	content: "";
	position: absolute;
	display: block;
	width: 60px;
	height: 60px;
	top: 20px;
	left: 0px;
}
div.Result.Ok:before{
	background: url(./img/okimgb.png) no-repeat;
}
div.Result.Bad:before{
	background: url(./img/badimgb.png) no-repeat;
}
div.resultNumber div.Result span{
	font-size: 30px;
}
div.resultNumber div.Result.Ok{
	float:left;
}
div.resultNumber div.Result.Ok span{
	color: #79b172;
}
div.resultNumber div.Result.Bad{
	float:right;
}
div.resultNumber div.Result.Bad span{
	color: #c1233d;
}

div.subcrib.animation{
    overflow: hidden;
}











































	@media screen and (max-width: 1023px){
		p.frind{
			display: none;
		}
		body{
			font-size: 16px;
			min-width: 100%;
		}

		div.BoxBlog div.InfoBlock {
			clear: both;
		}

		div.moreread {
			position: inherit;
			bottom: inherit;
			height: inherit;
			right: inherit;
		}
		.header{
			height: auto;
			width: 100%;
			padding-bottom: 5px;
			-moz-box-sizing: border-box;
			box-sizing: border-box;
		}
		.logotype {
			float: none;
			margin-left: auto;
			margin-right: auto;
			margin-bottom: 15px;
			width: 119px;
		}
		.topAuthForm {
			display: none;
			margin-left: auto;
			margin-right: auto;
			float:none;
		}
		.topMenu {
			float:none;
			height: auto;
			text-align: center;
			padding-left: 0px;
    position: inherit;
		}
		.topMenu ul {
			display: block;
		}
		.topMenu ul li {
			float:none;
			display: block;
			font-size: 18px;
			height: auto;
			border-top: 1px solid rgba(255, 255, 255, 0.2);
		}
		.topMenu ul li a{
			display: block;
			width: 100%;
			padding: 5px 0px;
		}
		.topMenu ul li:last-child a{
			border-top: none;
			padding-bottom: 0px;
		}

		div.Breadcrumbs ul li a, div.Breadcrumbs  ul li{
			font-size: 18px;
			padding-top: 5px;
			padding-bottom: 5px;
		}

		div.blogFooter .wrapper {
			padding: 40px 15px;
		}
div.blogFooter div.div470{
width:auto;
}
		div.pager {
			float:none;
			display: table;
			margin-left: auto;
			margin-right: auto;
		}
		div.BlogContent div.leftpart {
			width: 100%;
			float:none;
		}
		div.Blog div.rightpart{
			float:none;
			width: 100%;
			margin-right: auto;
			margin-left: auto;
		}
		div.blockVoise div.leftpart {
			float:left;
			width: 200px;
		}
		div.blockVoise div.rightpart{
			float:none;
			width: auto;
			padding-left: 217px;
		}
		div.Blog div.rightpart div.rss2, div.Blog div.rightpart div.vk{
			margin-right: 0px;
		}
		div.Blog div.rightpart div.vk, div.Blog div.rightpart div.rss{
			float:none;
			width: 100%;
			display: table;
			margin-left: auto;
			margin-right: auto;
		}
		div.Blog div.rightpart div.rss2, div.Blog div.rightpart div.popular {
			float:none;
			width: 100%;
			display: table;
			margin-left: auto;
			margin-right: auto;
		}
		div.Blog div.rightpart div.listRubric{
			float:none;
			width: 100%;
			display: table;
			margin-left: auto;
			margin-right: auto;
		}
		div.rss2 input[type=submit]{
			margin-right: auto;
			margin-left: auto;
		}
		div.rss2 input[type=text]{
			width: 100%;
		}
		div.BoxBlog div.leftBlock{
			margin-right: auto;
			margin-left: auto;
			float:none;
			height: 130px;
			margin-bottom: 20px;
		}
		div.BoxBlog div.InfoBlock{
			padding-left: 0px;
		}

		div.moreread {
			margin-bottom: 20px;
		}
		div.blogFooter div.div470 .bMenu {
			width: 100%;
			display: block;
		}
		div.subcrib{
			height: auto;
		}
		div.subcrib input[type=text]{
			margin-bottom: 20px;
		}
		div.search div.search-form input[type="text"] {
			width: 100%;
		}
		div.Blog div.rightpart div.search {
			width: 100%;
		}
		div.BoxBlog div.leftBlock div.previmg{
			float:left;
			margin-right: 20px;
		}
		div.nameRes, div.resultBlog{
			display: block !important;
		}
		div.InfoBlockpodimg{
			padding-left: 170px;
			padding-top: 25px;
		}
		div.Blog div.rightpart div.rss a.tryReg{
			margin-left: auto;
			margin-right: auto;
		}
		div.DetailPage h1{
			line-height: 38px;
			font-size: 35px;
		}
		.bx_sitemap .bx_sitemap_li_title a{
			font-size: 18px;
		}
		.content{
			padding-bottom: 10px;
		}
		div.blogFooter div.div470 .bMenu{
			margin-bottom: 0px !important;
			display: table;
			width: 100%;
			margin-right: auto !important;
			margin-left: auto !important;
		}
		div.blogFooter div.div470 .bMenu tr td{
			padding: 0px 10px;
		}
		div.blogFooter div.div470 .bMenu tr:last-child{
			border-bottom: none;
		}
		div.blogFooter div.div470 .bMenu tr td a{
			display: block;
			width: 100%;
			padding: 5px 0px;
			font-size: 18px;
		}
		div.SocFix{
			position: relative;
		}
		div#vk_groups{
			display: none!important;
		}
	}
@media screen and (max-width: 600px) {
	div.resultNumber div.Result.Ok{
		float:none !important;
		margin-right: auto;
		margin-left: auto;
		display: table;
		min-width: 174px;
	}
	div.resultNumber div.Result.Bad{
		float:none !important;
		margin-right: auto;
		margin-left: auto;
		display: table;
	}
}
@media screen and (max-width: 700px) {
	div.teamVoite a.Bottom{
		float:none !important;
		margin-right: auto;
		margin-left: auto;
	}
}